.eipMenu {
  padding: 0;
  list-style: none;
}
.eipMenu li a {
  color: #5f6d7e;
}
.sideMenuActive a {
  color: #222935 !important;
}

.iconArrow {
  position: relative;
  padding-right: 24px;
}
.iconArrow::after {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  display: table;
  width: 24px;
  height: 24px;
  background: url('/images/eip_details_arrow.png') no-repeat center center/8px;
}

.floatWrap::after {
  content: ' ';
  display: table;
  clear: both;
}

.toc {
  position: 'static';
  display: none;
}

.tocFixed {
  position: fixed;
  width: 288px;
  padding: 24px;
  top: 10%;
  border: 1px solid #eaebf0;
  border-radius: 10px;
  list-style: none;
}
