.eipEnmu li {
  line-height: 22px;
  padding: 4px 0;
  font-size: 15px;
}
.eipEnmu li a {
  color: #5f6d7e;
}
.sidementActive a {
  color: #222935 !important;
}

.iconArrow {
  position: relative;
  padding-right: 24px;
}
.iconArrow::after {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  display: table;
  width: 24px;
  height: 24px;
  background: url('/images/eip_details_arrow.png') center center no-repeat;
}

.floatWrap::after {
  content: ' ';
  display: table;
  clear: both;
}

.toc {
  position: 'static';
  border-left-color: 'transparent';
  border-right-color: 'transparent';
  border-bottom-color: 'transparent';
}

.tocFixed {
  position: fixed;
  width: 288px;
  padding: 24px;
  top: 10%;
  border: 1px solid #eaebf0;
  border-radius: 10px;
  margin-left: -24px;
}
